/* .product-category {
    
} */

.product-category-buttons {
  display: flex;
  flex-wrap: wrap;
}

.product-category-buttons button {
  margin: 5px;

  width: 100px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid #d7d7d7;
  background-color: white;
  color: black;
  /* padding: 14px 28px; */
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
}

.product-category-buttons button:last-child {
  width: 45px;
  border-radius: 50%;
  color: grey;
  font-size: 25px;
}

.product-category-buttons button:hover {
  background-color: #36bad5;
  color: white;
}
